@media screen and (min-width: 645px) {
  html,
  body {
    height: 100%;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
  }
  .swiper-container-no-flexbox .swiper-slide {
    float: left;
  }
  .swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .swiper-wrapper li {
    margin: 0;
    padding: 0;
  }
  .swiper-container-android .swiper-slide,
  .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-fles-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
  .swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
  /* a11y */
  .swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
  }
  /* IE10 Windows Phone 8 Fixes */
  .swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  .swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x;
  }
  /* Arrows */
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto;
  }
  .swiper-button-prev.swiper-button-black,
  .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev.swiper-button-white,
  .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto;
  }
  .swiper-button-next.swiper-button-black,
  .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-next.swiper-button-white,
  .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  }
  /* Pagination Styles */
  .swiper-pagination {
    position: absolute;
    width: 630px;
    bottom: 70px;
    left: 50%;
    margin: 0 0 0 -315px;
    text-align: left;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    padding: 0;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  .swiper-pagination-bullet {
    font: normal 0.787em/1.1em 'open_sansbold', 'Arial', 'sans-serif';
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px #e2dcda solid;
    padding-bottom: 5px;
    padding-left: 26px;
    margin-left: 10px;
    width: 150px;
    text-align: left;
    height: 28px;
    line-height: 20px;
    vertical-align: bottom;
  }
  .swiper-pagination-bullet:first-child {
    margin-left: 0;
  }
  .swiper-pagination-bullet span {
    display: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-white .swiper-pagination-bullet {
    background: #fff;
  }
  .swiper-pagination-bullet-active.who {
    border-bottom: 3px #008f96 solid;
  }
  .swiper-pagination-bullet-active.what {
    border-bottom: 3px #f97500 solid;
  }
  .swiper-pagination-bullet-active.how {
    border-bottom: 3px #5f8320 solid;
  }
  .swiper-pagination-bullet-active.where {
    border-bottom: 3px #e0a61a solid;
  }
  .swiper-pagination-bullet-active span {
    padding-left: 20px;
    display: inline;
  }
  .swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff;
  }
  .swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000;
  }
  .swiper-container-vertical > .swiper-pagination {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    -moz-transform: translate3d(0px, -50%, 0);
    -o-transform: translate(0px, -50%);
    -ms-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
  }
  .swiper-container-horizontal > .swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
  }
  /* 3D Container */
  .swiper-container-3d {
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
  }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
  }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
  }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
  }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    /* Safari 4+, Chrome */
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Chrome 10+, Safari 5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 3.6-15 */
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Opera 11.10-12.00 */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    /* Firefox 16+, IE10, Opera 12.50+ */
  }
  /* Coverflow */
  .swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
    -ms-perspective: 1200px;
  }
  /* Fade */
  .swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .swiper-container-fade .swiper-slide {
    pointer-events: none;
  }
  .swiper-container-fade .swiper-slide-active {
    pointer-events: auto;
  }
  /* Cube */
  .swiper-container-cube {
    overflow: visible;
  }
  .swiper-container-cube .swiper-slide {
    pointer-events: none;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
  .swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  .swiper-container-cube .swiper-slide-active,
  .swiper-container-cube .swiper-slide-next,
  .swiper-container-cube .swiper-slide-prev,
  .swiper-container-cube .swiper-slide-next + .swiper-slide {
    pointer-events: auto;
    visibility: visible;
  }
  .swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
  }
  .swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {
    z-index: 0;
  }
  /* Scrollbar */
  .swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, 0.1);
  }
  .swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%;
  }
  .swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%;
  }
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 0;
    top: 0;
  }
  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
  /* Preloader */
  .swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
  }
  .swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  @-webkit-keyframes swiper-preloader-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
body {
  font-family: 'open_sansbold', 'Arial', 'sans-serif';
  font-size: 17.78px;
}
.content {
  padding: 0 20px;
}
a:hover {
  text-decoration: none;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 27, 2015 */
/* OPEN SANS
=========================================== */
@font-face {
  font-family: 'open_sansbold';
  src: url('../font/open-sans/opensans-bold-webfont.eot');
  src: url('../font/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/open-sans/opensans-bold-webfont.woff2') format('woff2'), url('../font/open-sans/opensans-bold-webfont.woff') format('woff'), url('../font/open-sans/opensans-bold-webfont.ttf') format('truetype'), url('../font/open-sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../font/open-sans/opensans-italic-webfont.eot');
  src: url('../font/open-sans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/open-sans/opensans-italic-webfont.woff2') format('woff2'), url('../font/open-sans/opensans-italic-webfont.woff') format('woff'), url('../font/open-sans/opensans-italic-webfont.ttf') format('truetype'), url('../font/open-sans/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../font/open-sans/opensans-light-webfont.eot');
  src: url('../font/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/open-sans/opensans-light-webfont.woff2') format('woff2'), url('../font/open-sans/opensans-light-webfont.woff') format('woff'), url('../font/open-sans/opensans-light-webfont.ttf') format('truetype'), url('../font/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../font/open-sans/opensans-regular-webfont.eot');
  src: url('../font/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/open-sans/opensans-regular-webfont.woff2') format('woff2'), url('../font/open-sans/opensans-regular-webfont.woff') format('woff'), url('../font/open-sans/opensans-regular-webfont.ttf') format('truetype'), url('../font/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* LORA
=========================================== */
@font-face {
  font-family: 'lorabold';
  src: url('../font/lora/lora-bold-webfont.eot');
  src: url('../font/lora/lora-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/lora/lora-bold-webfont.woff2') format('woff2'), url('../font/lora/lora-bold-webfont.woff') format('woff'), url('../font/lora/lora-bold-webfont.ttf') format('truetype'), url('../font/lora/lora-bold-webfont.svg#lorabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraitalic';
  src: url('../font/lora/lora-italic-webfont.eot');
  src: url('../font/lora/lora-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/lora/lora-italic-webfont.woff2') format('woff2'), url('../font/lora/lora-italic-webfont.woff') format('woff'), url('../font/lora/lora-italic-webfont.ttf') format('truetype'), url('../font/lora/lora-italic-webfont.svg#loraitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'loraregular';
  src: url('../font/lora/lora-regular-webfont.eot');
  src: url('../font/lora/lora-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/lora/lora-regular-webfont.woff2') format('woff2'), url('../font/lora/lora-regular-webfont.woff') format('woff'), url('../font/lora/lora-regular-webfont.ttf') format('truetype'), url('../font/lora/lora-regular-webfont.svg#loraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../font/redbility/icomoon.eot?-16mhat');
  src: url('../font/redbility/icomoon.eot?#iefix-16mhat') format('embedded-opentype'), url('../font/redbility/icomoon.woff?-16mhat') format('woff'), url('../font/redbility/icomoon.ttf?-16mhat') format('truetype'), url('../font/redbility/icomoon.svg?-16mhat#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-redbility_close:before {
  content: "\e600";
}
.icon-redbility_facebook:before {
  content: "\e601";
}
.icon-redbility_flickr:before {
  content: "\e602";
}
.icon-redbility_how:before {
  content: "\e603";
}
.icon-redbility_info:before {
  content: "\e604";
}
.icon-redbility_twitter:before {
  content: "\e605";
}
.icon-redbility_vimeo:before {
  content: "\e606";
}
.icon-redbility_what:before {
  content: "\e607";
}
.icon-redbility_where:before {
  content: "\e608";
}
.icon-redbility_who:before {
  content: "\e609";
}
.no-margin {
  margin: 0 !important;
}
.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-15 {
  margin: 15px;
}
.margin-20 {
  margin: 20px;
}
.margin-v-5 {
  margin: 5px 0;
}
.margin-v-10 {
  margin: 10px 0;
}
.margin-v-15 {
  margin: 15px 0;
}
.margin-v-20 {
  margin: 20px 0;
}
.margin-h-5 {
  margin: 0 5px;
}
.margin-h-10 {
  margin: 0 10px;
}
.margin-h-15 {
  margin: 0 15px;
}
.margin-h-20 {
  margin: 0 20px;
}
.no-padding {
  padding: 0 !important;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
.padding-v-5 {
  padding: 5px 0;
}
.padding-v-10 {
  padding: 10px 0;
}
.padding-v-15 {
  padding: 15px 0;
}
.padding-v-20 {
  padding: 20px 0;
}
.padding-h-5 {
  padding: 0 5px;
}
.padding-h-10 {
  padding: 0 10px;
}
.padding-h-15 {
  padding: 0 15px;
}
.padding-h-20 {
  padding: 0 20px;
}
.no-border {
  border: none !important;
}
.no-border-top {
  border-top: none !important;
}
.no-border-right {
  border-right: none !important;
}
.no-border-botom {
  border-bottom: none !important;
}
.no-border-left {
  border-left: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.cleft {
  clear: left;
}
.cright {
  clear: right;
}
.cboth {
  clear: both;
}
.dblock {
  display: block;
}
.dnone {
  display: none;
}
.dinline-block {
  display: inline-block;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.btn {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav--main {
  background-color: #232323;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.nav--main li {
  text-transform: uppercase;
  border-top: 1px #181818 solid;
  border-bottom: 1px #2b2b2b solid;
  font-size: 0.714em;
}
.nav--main a {
  color: #363636;
  padding: 5px 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  vertical-align: middle;
  display: inline-block;
  line-height: 40px !important;
}
.nav--main .icon {
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}
.nav--main .section .link-expand.collapsed {
  color: #363636;
}
.nav--main .box li {
  border-bottom: none;
  font-size: 1em;
}
.nav--main .box li:first-child {
  border-top: none;
}
.nav--main .box a {
  display: block;
}
.nav--main .section--who .link-expand {
  background-color: transparent;
}
.nav--main .section--who .link-expand:hover {
  background-color: #007980;
  color: #ddebec;
}
.nav--main .section--who .box li {
  border-top: 1px #007980 solid;
}
.nav--main .section--who .box li:first-child {
  border-top: none;
}
.nav--main .section--who .box a:hover {
  background-color: #007980;
}
.nav--main .section--who .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #008f96;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  width: 0;
  z-index: 2;
}
.nav--main .section--what .link-expand {
  background-color: transparent;
}
.nav--main .section--what .link-expand:hover {
  background-color: #994500;
  color: #fee8dd;
}
.nav--main .section--what .box li {
  border-top: 1px #994500 solid;
}
.nav--main .section--what .box li:first-child {
  border-top: none;
}
.nav--main .section--what .box a:hover {
  background-color: #994500;
}
.nav--main .section--what .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f97500;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  width: 0;
  z-index: 2;
}
.nav--main .section--how .link-expand {
  background-color: transparent;
}
.nav--main .section--how .link-expand:hover {
  background-color: #3d5314;
  color: #e5eadf;
}
.nav--main .section--how .box li {
  border-top: 1px #3d5314 solid;
}
.nav--main .section--how .box li:first-child {
  border-top: none;
}
.nav--main .section--how .box a:hover {
  background-color: #3d5314;
}
.nav--main .section--how .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #5f8320;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  width: 0;
  z-index: 2;
}
.nav--main .section--where .link-expand {
  background-color: transparent;
}
.nav--main .section--where .link-expand:hover {
  background-color: #8c6410;
  color: #f9efdf;
}
.nav--main .section--where .box li {
  border-top: 1px #8c6410 solid;
}
.nav--main .section--where .box li:first-child {
  border-top: none;
}
.nav--main .section--where .box a:hover {
  background-color: #8c6410;
}
.nav--main .section--where .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #e0a61a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  width: 0;
  z-index: 2;
}
.nav--main .section--info .link-expand {
  background-color: transparent;
}
.nav--main .section--info .link-expand:hover {
  background-color: #123652;
  color: #ffffff;
}
.nav--main .section--info .box {
  position: relative;
  background-color: #1d5682;
  padding-bottom: 30px;
}
.nav--main .section--info .box li {
  border-top: 1px #1d5682 solid;
}
.nav--main .section--info .box li:first-child {
  border-top: none;
}
.nav--main .section--info .box a {
  background-color: #1d5682;
  color: #ffffff;
  font-size: .914em;
}
.nav--main .section--info .box a:hover {
  background-color: #123652;
}
.nav--main .section--info .box span:after {
  background: url('../img/link.png') no-repeat right center;
  content: "";
  width: 12px;
  height: 9px;
  display: inline-block;
  margin-left: 5px;
}
.nav--main .section--info .nav--social li {
  float: left;
  margin-left: 25px;
  border: none;
  width: auto;
}
.nav--main .section--info .nav--social li:first-child {
  margin-left: 0;
}
.nav--main .section--info .nav--social a {
  color: #123652;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.nav--main .section--info .nav--social a:hover {
  background-color: transparent;
}
.nav--main .section--info .nav--social a:before {
  font-size: 6em;
}
.nav--languaje {
  background-color: #292929;
  padding: 18px 0;
}
.nav--languaje ul {
  width: 105px;
  margin: 0 auto;
}
.nav--languaje li {
  float: left;
  font-size: 1em;
  border: none;
  margin-right: 18px;
  position: relative;
}
.nav--languaje li:first-child:after {
  content: "";
  width: 10px;
  border-top: 1px #363636 solid;
  display: block;
  position: absolute;
  top: 24px;
  left: 42px;
}
.nav--languaje a:hover {
  color: #ffffff;
}
.nav--languaje abbr {
  border: none;
}
.nav--social {
  width: 255px;
  margin: 0 auto;
}
.nav--social li {
  display: inline-block;
}
.nav--social a {
  position: relative;
  width: 30px;
  height: 30px;
}
.text-intro {
  padding: 30px 20px;
  font: normal 1em/1.5em 'loraitalic', 'sans-serif';
  margin-bottom: 0;
}
.list--wraper li {
  padding: 0;
}
.bg-white-trans {
  background-color: rgba(255, 255, 255, 0.8);
}
.dropdown--languaje {
  display: none;
  position: relative;
}
#header {
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}
#header h1 {
  background: url(../img/logo.png) no-repeat 0 0;
  color: #1d5682;
  font: normal 1em/1.1em 'open_sansbold', 'Arial', 'sans-serif';
  padding-left: 12px;
  padding-top: 5px;
  margin-bottom: 15px;
}
#header .navbar-toggle {
  padding: 5px;
  margin: 4px 0 0 0;
  width: 20px;
}
#header .navbar-toggle .icon-bar {
  background-color: #005382;
}
#header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.section .bg-section {
  padding-top: 314px;
  padding-bottom: 20px;
}
.section header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section header h2 {
  font: normal 0.857em 'open_sansbold', 'Arial', 'sans-serif';
  margin-bottom: 30px;
  text-transform: uppercase;
}
.section header li {
  font: normal 0.714em/1.2em 'open_sansbold', 'Arial', 'sans-serif';
  text-transform: uppercase;
  margin-top: 30px;
}
.section header li:first-child {
  margin-top: 0;
}
.section header li a:hover {
  color: #ffffff;
}
.section--who .bg-section {
  background: url(../img/fondo_who_01.jpg) no-repeat center 0;
  background-size: cover;
}
.section--who .box {
  background-color: #008f96;
  position: relative;
}
.section--who .box h2 {
  color: #00575c;
  position: relative;
}
.section--who .box li a {
  color: #ddebec;
}
.section--who .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #008f96;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 20px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 2;
}
.section--who .text-intro {
  color: #008f96;
}
.section--what .bg-section {
  background: url(../img/fondo_what_01.jpg) no-repeat center 0;
  background-size: cover;
}
.section--what .box {
  background-color: #f97500;
  position: relative;
}
.section--what .box h2 {
  color: #934500;
  position: relative;
}
.section--what .box li a {
  color: #fee8dd;
}
.section--what .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f97500;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 20px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 2;
}
.section--what .text-intro {
  color: #f97500;
}
.section--how .bg-section {
  background: url(../img/fondo_how_01.jpg) no-repeat center 0;
  background-size: cover;
}
.section--how .box {
  background-color: #5f8320;
  position: relative;
}
.section--how .box h2 {
  color: #3c5314;
  position: relative;
}
.section--how .box li a {
  color: #e5eadf;
}
.section--how .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #5f8320;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 20px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 2;
}
.section--how .text-intro {
  color: #5f8320;
}
.section--where .bg-section {
  background: url(../img/fondo_where_01.jpg) no-repeat center 0;
  background-size: cover;
}
.section--where .box {
  background-color: #e0a61a;
  position: relative;
}
.section--where .box h2 {
  color: #876410;
  position: relative;
}
.section--where .box li a {
  color: #f9efdf;
}
.section--where .box:before {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #e0a61a;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 0;
  content: "";
  height: 0;
  left: 20px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 2;
}
.section--where .text-intro {
  color: #e0a61a;
}
#footer {
  background-color: #222222;
  padding: 50px 0;
}
#footer p {
  font: normal 0.714em 'open_sansbold', 'Arial', 'sans-serif';
  color: #333333;
}
@media screen and (min-width: 645px) {
  #header {
    overflow: visible;
  }
  #header .navbar-toggle {
    display: none;
  }
  #header h1 {
    float: none;
    margin: 0 auto 15px auto;
    width: 220px;
  }
  .bs-navbar-collapse {
    display: block;
  }
  .nav--main {
    overflow: visible;
    margin: 0;
  }
  .nav--main li {
    border: none;
  }
  .nav--main li a {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .nav--main .collapse,
  .nav--main .collapsing {
    position: absolute;
    width: 100%;
    top: 109px;
    left: 0;
  }
  .nav--main .collapse li,
  .nav--main .collapsing li {
    float: left;
    width: 25%;
  }
  .nav--main .collapse li a,
  .nav--main .collapsing li a {
    font-size: 0.85em;
  }
  .nav--main .collapse li span,
  .nav--main .collapsing li span {
    max-width: 70px;
    display: block;
    line-height: 16px;
    margin: 14px auto;
  }
  li.section {
    float: left;
    width: 20%;
    position: static;
  }
  li.section .box a {
    vertical-align: middle;
    height: 76px;
    line-height: 63px !important;
    text-align: center;
  }
  li.section .box span {
    display: inline-block;
  }
  li.section.section--info {
    width: 10%;
  }
  li.section.section--info .box {
    padding-bottom: 0;
  }
  li.section.section--info .box span {
    max-width: 105px;
    text-align: left;
    background-position: right 19px;
  }
  li.section.section--info .nav--info {
    float: left;
    width: 67%;
  }
  li.section.section--info .nav--info li {
    width: 33%;
  }
  li.section.section--info .nav--social {
    float: left;
    width: auto;
    padding-top: 15px;
  }
  li.section.section--info .nav--social li {
    margin-left: 0;
  }
  li.section.section--info .nav--social a:before {
    font-size: 4.4em;
  }
  li.section .txt-info {
    display: none;
  }
  .nav--languaje {
    float: left;
    width: 10%;
    padding: 10px 0 5px 0;
    background-color: #222222;
  }
  .list--languaje {
    display: none;
  }
  .dropdown--languaje {
    display: block;
  }
  .dropdown--languaje .btn {
    display: block;
    position: absolute;
    top: -15px;
    left: 3px;
    width: 100%;
    height: 55px;
    padding: 10px 0 5px 0;
  }
  .dropdown--languaje button:hover,
  .dropdown--languaje abbr {
    cursor: pointer;
  }
  .dropdown--languaje li {
    float: none;
  }
  .dropdown--languaje li:first-child:after {
    display: none;
  }
  .dropdown--languaje.open .dropdown-menu {
    position: absolute ;
    top: -10px;
    left: 0;
    background-color: #222222;
    margin: 0;
    padding: 0;
  }
  .dropdown--languaje.open .dropdown-menu a {
    height: 55px;
  }
  main .section .box {
    background-color: transparent;
  }
  main .section .bg-section {
    height: 100vh;
    padding: 0;
  }
  main .section .text-intro {
    color: #ffffff;
  }
  main .box {
    display: none;
  }
  main .section--who .swiper-pagination-bullet {
    border-bottom: 2px #00575c solid;
  }
  .text-intro {
    font: normal 2.25em/1.1em 'loraitalic', 'sans-serif';
    max-width: 565px;
    position: absolute;
    left: 50%;
    margin-left: -282px;
    bottom: 144px;
    text-align: center;
    padding: 0;
  }
  .text-intro.bg-white-trans {
    background-color: transparent;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  #footer {
    display: none;
  }
}
