//SECTIONS
//=====================

.section{	

	.bg-section{
		padding-top: 314px;
		padding-bottom: 20px;
	}

	header{
		padding-top: 30px;
		padding-bottom: 30px;

		h2{
			font: normal 0.857em @font-default, @font-default-system, @font-third;
			margin-bottom: 30px;
			text-transform: uppercase;
		}

		li{
			font: normal 0.714em/1.2em @font-default, @font-default-system, @font-third;
			text-transform: uppercase;
			margin-top: 30px;

			&:first-child{
				margin-top: 0;
			}

			a:hover{
				color: @colorW;
			}
		}
	}
}

// Who section
.section--who{

	.bg-section{
		background: url(../img/fondo_who_01.jpg) no-repeat center 0;	
		background-size: cover;
	}	

	.dropdown-menu.box, .box{		
		background-color: @colorB;
		position: relative;

		h2{
			color: @colorB1;
			position: relative;			
		}

		li{
			a{
				color: @colorB2;
			}
		}		
	}

	.text-intro{
		color: @colorB;
	}

	.cont--inner_header{
		h4, .icon{
			color: @colorB;
		}
	}
}

// What section
.section--what{

	.bg-section{
		background: url(../img/fondo_what_01.jpg) no-repeat center 0;	
		background-size: cover;
	}	

	.dropdown-menu.box, .box{		
		background-color: @colorO;
		position: relative;

		h2{
			color: @colorO1;
			position: relative;			
		}

		li{
			a{
				color: @colorO2;
			}
		}
	}

	.text-intro{
		color: @colorO;
	}
}

// How section
.section--how{

	.bg-section{
		background: url(../img/fondo_how_01.jpg) no-repeat center 0;	
		background-size: cover;
	}	

	.dropdown-menu.box, .box{		
		background-color: @colorG;
		position: relative;

		h2{
			color: @colorG1;
			position: relative;			
		}

		li{
			a{
				color: @colorG2;
			}
		}
	}

	.text-intro{
		color: @colorG;
	}
}

// Where section
.section--where{

	.bg-section{
		background: url(../img/fondo_where_01.jpg) no-repeat center 0;	
		background-size: cover;
	}	

	.dropdown-menu.box, .box{		
		background-color: @colorY;
		position: relative;

		h2{
			color: @colorY1;
			position: relative;			
		}

		li{
			a{
				color: @colorY2;
			}
		}
	}

	.text-intro{
		color: @colorY;
	}
}

// Inner section
.section--inner{
	height: 100%;
	width: 100%;
	position: relative;

	li{
		width: 100%;
	}

	.section--inner_header{
		padding-top: 85px;
		padding-left: 32px;
	}

	h3{
		color: @colorW;
		font-size: 0.844em;
		text-transform: uppercase;
		text-decoration: underline;
		margin-bottom: 100px;
	}

	.cont--inner{
		position: static;
		width: 100%;				

		p{
			background-color: rgba(34,34,34,.9);
			padding: 25px 30px;
			font: normal .75em/1.4em @font-italic, @font-third;
			color: @colorK4;
		}

		strong{
			color: @colorW;
		}
	}

	.cont--inner_header{
		background-color: rgba(255,255,255,.9);
		padding: 0 30px;
		margin-bottom: 5px;
		height: 60px;
		line-height: 60px;
		vertical-align: middle;

		h4{
			display: inline-block;
			text-transform: uppercase;
			font-size: .9em;
		}

		.icon{
			font-size: 1.4em;
			position: relative;
			top: 5px;
			display: none;
		}
	}
}



// Students section
.section--students{
	background: url(../img/inner-section.jpg) no-repeat center 0;	
	background-size: cover;
		
}	